@font-face{
	font-family: customFont;
	src: url(OptimusPrincepsSemiBold.ttf);
}
#nav{
    background-color: white;
    text-align: right;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom:2px solid blue;
}
#nav ul{
    margin-bottom: 0;
    margin-right: 20px;
}
#nav li{
    display: inline-block;
}
#nav a{
    position: relative;
    display: block;
    color: lightblue;
    text-decoration: none;
    outline: 0;
    margin-right:10px;
}
#home{
    z-index: 1;
    position:relative;
    background-color:#CCFFFF;
    height: 100vh;
	width: 100vw;
}
#about{
    z-index: 1;
    position:relative;
    background-color:#29AAD1;
    height: 100vh;
}
#team{
	z-index: 1;
	position: relative;
	background-color: #67D34C;
	height: 100vh;
}
#split{
    float: left;
    height: 50%;
    width: 50%;
    text-align: center;
}

#left1{
    float: left;
    width: 40%;
    height: 100%;
    background: url(IMG_0025.jpg) no-repeat center center;
}

#left2{
    float: left;
    width: 40%;
    height: 100%;
    background: url(IMG_0025.jpg) no-repeat center center;
}

#left3{
    float: left;
    width: 40%;
    height: 100%;
    background: url(IMG_0025.jpg) no-repeat center center;
}

#left4{
    float: left;
    width: 40%;
    height: 100%;
    background: url(IMG_0025.jpg) no-repeat center center;
}

#right{
    float: left;
    width: 60%;
    height: 100%;
    display: table;
    text-align: left;
}

#cell{
    display: table-cell;
    vertical-align: middle;
}

#cell p{
    color: white;
    font-family: "Comic Sans MS";
}

#contact{
	z-index: 1;
	position: relative;
	background-color: #FEAD20;
	height: 100vh;
}
#textblock{
	z-index: 3;
	color: white;
	font-family: customFont;
	font-size: 20px;
	position: absolute;
	text-align: center;
	top: 35%;
	left: 50%;
	margin-left: -23em
}

IMG.checkMark {
	position: absolute;
	top:10%;
	left: 30%;
}
IMG.logo {
	position:absolute;
	top: 50%;
	margin-top: -10em;
	display: block;
	left:50%;
	margin-left: -25em;
	}
